.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.logo-i {
  color: #00a86b;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-left: 50px;
  font-weight: 500;
}

.get-btn {
  background: #00a86b;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
